.container {
    .video {
        position: relative;
        width: 100%;
        height: 0;
        margin-bottom: 20px;
        padding-bottom: 60%;
    }

    .videoBanner {
        position: relative;
        width: 100%;
        height: 0;
        margin-bottom: 20px;
        padding-bottom: 40%;
    }
}
